__pycache__/
env/
.env
.venv
venv/
.venv/
.mypy_cache/
.history/
.mypy_cache
pytest
.git/*
*.py[cod]
.idea
.DS_Store
.AppleDouble
.LSOverride
*.sublime-project
*.sublime-workspace
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
media/ 